debug 9

port {{ usb_modem_device }}
 port-owner root
 port-group dialout
 port-mode 0660
 data-only yes
 ignore-carrier no
 toggle-dtr yes
 toggle-dtr-waittime 500
 rings 1
 #autobauding yes
 speed {{ mgetty_data_speed }}
 # How to initialize the modem (ignore Caller ID)
 init-chat "" ATZ OK AT+VCID=0 OK
